# Configuración de Poppler (opcional, solo si no está en PATH)
# POPPLER_PATH=C:\Users\User\AppData\Local\Microsoft\WinGet\Packages\oschwartz10612.Poppler_Microsoft.Winget.Source_8wekyb3d8bbwe\poppler-25.07.0\Library\bin

# Configuración de PDF
PDF_INPUT_FOLDER=./inputs
CSV_OUTPUT_FOLDER=./outputs

# Configuración de OCR
TESSERACT_AVAILABLE=true

# Logging
LOG_LEVEL=INFO

# Configuración de Camelot (tabla)
CAMELOT_FLAVOR=lattice
